<section class="index-about">
  <div class="section-divider scrollto" id="about"></div>
  <div class="section-container">
    <h3>A Little About Me</h3>
    <div class="text-container">

      <p>
        A budding web developer, interested in developing interactive, intutive apps. 
        When I am not coding, you can see me running behind my toddler - learning how to fine tune my tongue to an American ear,
        find patterns in activities and objects that I can also apply in programming and be persistent even when the world around
         you is in complete chaos.
      </p>

    </div>
    <h5>
      <a href="{{ site.baseurl | append: '/about' }}" class="button">
        Learn More
        <i class="fa fa-chevron-right"></i>
      </a>
    </h5>
  </div>
</section>
